* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand';
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a, a:visited {
  text-decoration: none;
  color: white
}

.home {
  height: auto;
  width: 500px;
  background-color: aquamarine;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 50px;
}

.links {
  margin-left: auto;
}

.linkSec {
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home2 {
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 50px;
  color: white;
}

.buttonAdd {
  margin: 50px;
  border-radius: 20px;
  background-color: black;
  color: white;
  height: 40px;
  padding: 10px;
}